.App {
  text-align: center;
  background-color: #c7c7c7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-form {
}

.App-link {
  color: #61dafb;
}
